[submodule "ThirdParty/ImGui"]
	path = ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/glfw"]
	path = ThirdParty/glfw
	url = https://github.com/glfw/glfw
[submodule "ThirdParty/WorLibrary"]
	path = ThirdParty/WorLibrary
	url = https://github.com/WorHyako/worLibrary
[submodule "ThirdParty/OpenFontIcons"]
	path = ThirdParty/OpenFontIcons
	url = https://github.com/traverseda/OpenFontIcons.git
